<h1>Common Plots</h1>

<div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">

  <%= accordion_item 'Biplot <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>  
  
  <%= accordion_item 'Box Plot <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Dot Plot <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Probability Plot <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>  

  <%= accordion_item 'Scatterplot Plot <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

</div>
