<h1>Field Specific Charts</h1>

<div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
  
  <%= accordion_item 'Candlestick Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>  

  <%= accordion_item 'Candlestick Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Kagi Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Open-high-low-close Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Sparkline <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

</div>