<h1>Other Charts</h1>

<div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
  
  <%= accordion_item 'Control Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Gredinger Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Heatmap <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Natal Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Nomogram <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Pareto Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Run Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Strip Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Structure Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Vowel Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>


</div>