<h1>Well-known named Charts</h1>

<div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
  
  <%= accordion_item 'Heatmap <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Nolan Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Pert Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Gantt Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

  <%= accordion_item 'Smith Chart <span class="badge pull-right">TODO</span>' do %>
    <!-- -->
  <% end %>

</div>